


	<p>Nombre: {{input type="text" value=title}}</p> 
	<p>Calorias: {{input type="number" value=content}}</p>
	<button{{action 'editarComponent'}}>Editar</button>
	<button{{action 'eliminarComponent'}}>Eliminar</button>