
<form {{action 'crearProducto' on="submit"}}>
	<p>Nombre</p>
	{{input type="text" value=nombre}}
	<br>
	<p>Calorias</p>
	{{input type="number" value=calorias}}
	<br>
	<br>
	<button>Añadir producto</button>
</form>